.mainContainer {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 50px 50px 0 0;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: space-evenly;
    flex-direction: row;
}

.productCard {
    border-radius: 8px;
    width: 420px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.productCard:hover {
    transform: scale(1.01);
    /* Легкое увеличение при наведении */
}

.imgCard {
    text-align: center;
    margin-bottom: 15px;
}

.productImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.downBlockCard {
    text-align: left;
    color: #333;
}

.productTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.productDescription {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.productPrice {
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: 130%;
    text-align: center;
    color: #34363a;
    padding: 8px 10px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    width: 30%;
}

.productDetails {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.addToCart {
    background-color: #F39F5A;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.addToCart:hover {
    background-color: #f0852e;
}

a {
    text-decoration: none;
}

.hContainer {
    display: flex;
    flex-direction: column;
}

.typePc {
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    margin: 0;
    color: #f17e2b;
    padding: 8px 12px;
    border: 1px solid #ffd0ae;
    border-radius: 10px;
}

.blockContainer {
    display: flex;
    gap: 10px;
}

.sorted {
    display: flex;
    cursor: pointer;
    margin: 20px 30px;
}

.fsBar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectTypePc {
    width: 200px;
}

.selectList {
    display: flex;
    width: auto;
    gap: 30px;
    margin-left: 30px;
}

.selectSeries {
    width: 200px;
}

.selectedChips {
    display: flex;
    width: auto;
    gap: 30px;
    margin: 20px 30px;
}